
<div class="page-container">
<div class="card shadow-sm border-0">

  <!-- Titulo -->
  <div class="card-header bg-smoke d-flex justify-content-between align-items-center">
    <h5 class="m-0 fw-bold text-maroon">Gestión de Actividades Base</h5>
    <button class="btn btn-outline-primary" (click)="abrirModal(crearModal)">
      <i class="bi bi-plus-circle me-1" ></i> Nueva Actividad
    </button>
  </div>

  <div class="card-body">

    <!-- Buscador de filtros-->
 <form [formGroup]="filtroForm" (ngSubmit)="buscar()">
  <div class="row g-3 mb-4 ">

    <!-- Busqueda por Nombre -->
    <div class="col-md-3">
      <input 
        type="text" 
        class="form-control" 
        placeholder="Buscar titulo..."
        formControlName="nombre">
    </div>
   
     <!-- filtro por Campo Formativo -->
    <div class="col-md-3">
      <select class="form-select" formControlName="idCampo" >
        <option value="">Filtrar por Campo formativo</option>
        <option *ngFor="let c of campos" [value]="c.idCampo">
          {{ c.nombre }}
        </option>
      </select>
    </div>
    <!-- filtro por Grupo -->
    <div class="col-md-2">
      <select class="form-select" formControlName="activo">
        <option value = ''>Filtrar por estado</option>
        <option value = "true" >Habilitado</option>
        <option value = "false" >Deshabilitado</option>
      </select>
    </div>

    <!-- Botón -->
    <div class="col-md-2">
      <button type="submit" class="btn btn-outline-primary w-100">
        Buscar
      </button>
    </div>
      <div class="col-md-2">
      <button type="button"
        class="btn btn-outline-primary w-100"
        (click)="limpiarFiltros()">
        Limpiar
      </button>
   </div>

  </div>
</form>

    <!-- tabla de inscripciones -->
    <div class="table-responsive">
      <table class="table table-hover table-striped w-100">

        <thead class="table-light text-center ">
          <tr>
            <th>ID</th>
            <th>Titulo</th>
            <th>Campo Formativo</th>
            <th>Estado</th>
            <th class="text-center">Acciones</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let a of actividades"  >
            <td class = "text-center">{{a.idActividad}}</td>
            <td class = "text-start">{{a.titulo}}</td>
            <td class = "text-start">{{a.campoFormativo.nombre}}</td>
            <td class = "text-center"><span [ngClass]="a.activo == true? 'badge bg-success' : 'badge bg-danger' "> 
             ● {{ a.activo ? 'HABILITADO' : 'DESHABILITADO' }}</span></td>
            
            <td class="text-center">
            
              <!--mas informacion-->
              <button class="btn btn-sm btn-outline-primary me-2"
              (click)="abrirDetalleActividad(a,detallesModal)"
              title="Detalles" >
                <i class="bi bi-eye"></i>
              </button>

              <!--Alta / Baja -->
              <button class="btn btn-sm me-2"
              [ngClass]="a.activo ? 'btn-outline-danger':'btn-outline-success'"
              (click)="abrirConfirmacion(a,confirmarModal)" 
                          [title]="a.activo === true ? 'Deshabilitar actividad' : 'Habilitar actividad' ">
                <i class="bi"
                 [ngClass]="a.activo ? 'bi-chevron-double-down' : 'bi-chevron-double-up'"></i>
              </button>
               <button class="btn btn-sm btn-outline-primary me-2"
                *ngIf=" a.activo"
                (click)="abrirEditar(a,crearModal)" 
                title="Editar adtividad">
                <i class="bi bi-pencil"></i>
              </button>
            </td>
          </tr>
           <tr *ngIf="actividades.length === 0">
            <td colspan="6" class="text-center text-muted py-4">
              No hay inscripciones registradas
            </td>
          </tr>
        </tbody>

      </table>
    </div>
    <!-- Paginación-->
    <nav *ngIf="totalPages > 0" class="mt-4">
      <ul class="pagination justify-content-center">

    <!-- Anterior -->
    <li class="page-item " [class.disabled]="page === 0">
      <button class="page-link "
              (click)="cambiarPagina(page - 1)"
              [disabled]="page === 0">
        «
      </button>
    </li>

    <!-- Números -->
    <li class="page-item"
        *ngFor="let p of paginas"
        [class.active]="p === page">
      <button class="page-link "
              (click)="cambiarPagina(p)">
        {{ p + 1 }}
      </button>
    </li>

    <!-- Siguiente -->
    <li class="page-item"
        [class.disabled]="page + 1 >= totalPages">
      <button class="page-link"
              (click)="cambiarPagina(page + 1)"
              [disabled]="page + 1 >= totalPages">
        »
      </button>
    </li>

  </ul>
</nav>

  </div>
  </div>
</div>



<!--Detalles modal-->
<ng-template #detallesModal let-modal>
  <div class="modal-content modal-unificado">
    <!--header-->
    <div class="modal-header flex-column bg-smoke ">
      <h5 class="modal-title fw-bold text-maroon text-center">Información Actividad Base</h5>
      <button type="button" 
            class="btn-close position-absolute end-0 top-0 m-3" 
            (click)="modal.dismiss()">
      </button>
    </div>
    <!--body-->
    <div class="modal-body modal-body-step">
      <div class="body-container">
        <div class="bloque">
          <label class="fw-bold">Titulo</label>
          <span>{{ actividadSeleccionada.titulo }}</span>
        </div>
        <div class="bloque">
          <label class="fw-bold">Descripción</label>
          <span>{{ actividadSeleccionada.descripcion }}</span>
        </div>
        <div class="bloque">
          <label class="fw-bold">Estado <span class="badge estado-badge" [ngClass]="actividadSeleccionada.activo ? 'bg-success' : 'bg-danger'">
           ● {{ actividadSeleccionada.activo ? 'Habilitado' : 'Deshabilitado' }}
          </span></label>
        </div>
        <div class="divider"></div>
        <div class="bloque">
          <label class="fw-bold">Campo Formativo</label>
          <span>{{ actividadSeleccionada.campoFormativo?.nombre }}</span>
        </div>
        <div class="bloque">
          <label class="fw-bold">Descripción del campo</label>
          <span>{{ actividadSeleccionada.campoFormativo?.descripcion }}</span>
        </div>
        <div class="divider"></div>
        <div class="bloque" *ngIf="actividadSeleccionada.urlInstrucciones">
          <label class="fw-bold me-2">Instrucciones:  <a class="link-box" [href]="'http://localhost:8080/api/actividadBase/' + actividadSeleccionada.idActividad + '/instrucciones'" target="_blank">
              {{  actividadSeleccionada.urlInstrucciones.split('/').pop() }}
            </a></label>     
        </div>
      </div>      
    </div>
    <div class="modal-footer justify-content-center">
      <button class="btn btn-outline-secondary" (click)="cerrarModal()">Cerrar</button>
    </div>
  </div>
</ng-template>

<!--modal de confirmacion-->
<ng-template #confirmarModal let-modal>
   <div class="modal-content modal-confirmacion">
      <!--header-->
      <div class="modal-header bg-warning-subtle justify-content-center">
        <h5 class="modal-title text-maroon text-center">{{actividadSeleccionada.activo ? 'Deshabilitar Actividad' : 'Habilitar Actividad'}}</h5>
        <button type="button"
          class="btn-close position-absolute end-0 me-3"
          (click)="modal.dismiss()">
        </button>
      </div>
      <!--body-->
      <div class="modal-body">
        <div class="body-container">
          <div class="bloque">
            <p style="font-size: 1rem;">¿ Desea {{ tituloAccion.toLowerCase() }}: <strong>{{ tituloActividad }}</strong>?</p>
          </div>
          <div class="bloque aviso" *ngIf="actividadSeleccionada.activo">
            <i class="bi bi-exclamation-triangle-fill" ></i>
            <p> {{ accionTexto }}</p>
          </div>
        </div>
      </div>
      <div class="modal-footer justify-content-center">
      <button class="btn btn-outline-primary"
        (click)="modal.dismiss()">
        Cancelar
      </button>
      <button class="btn btn-success"
        (click)="activarDesactivar(modal)">
        Confirmar
      </button>
    </div>
  </div>
</ng-template>

<!--modal crear / editar -->
<ng-template #crearModal  let-modal>
  <div class="modal-content modal-unificado">
    <!--header-->
    <div class="modal-header bg-smoke flex-column align-items-center position-relative">
      <h5 class="modal-title fw-bold text-maroon">
        {{ modoEdicion ? 'Actualizar Descripción' : 'Registro Actividad Base' }} 
      </h5>
      <!-- Botón cerrar -->
      <button type="button" 
        class="btn-close position-absolute end-0 top-0 m-3"
        (click) = "cerrarModal()">
      </button>
    </div>
    <!--cuerpo-->
    <div class=" modal-body  modal-body-step ">
      <div class="body-container">
        <form class="bloque" [formGroup]="crearForm" id="crearForm" (ngSubmit)="submit()" autocomplete="off">

          <!-- Título -->
          <div class="input-group">
            <span class="input-group-text"> Titulo </span>
            <input type="text" class="form-control"
              formControlName="titulo"
              [ngClass] = "{'is-invalid': crearForm.get('titulo')?.invalid && crearForm.get('titulo')?.touched}"
            >
          </div>
          <div class="invalid-feedback d-block" *ngIf="crearForm.get('titulo')?.invalid && crearForm.get('titulo')?.touched">
            Campo obligatorio.
          </div>
          
          <!-- Descripcion -->
          <div class="input-group">
            <span class="input-group-text">Descripción</span>
            <textarea rows ="5" class="form-control"
              formControlName="descripcion"
              [ngClass] = "{'is-invalid': crearForm.get('descripcion')?.invalid && crearForm.get('descripcion')?.touched}">
            </textarea>
          </div>
          <div class=" d-flex align-items-center  mt-1">
            

            <div class="invalid-feedback d-block mb-0 "style="max-width: 70%;" *ngIf="crearForm.get('descripcion')?.invalid && crearForm.get('descripcion')?.touched">
              Campo obligatorio.
            </div>
            <small class="ms-auto flex-shrink-0" style="font-size: 0.7rem;" 
            [ngClass]="{'text-danger': crearForm.get('descripcion')?.value?.length >= 250, 
            'text-muted': crearForm.get('descripcion')?.value?.length < 250}">
              {{ crearForm.get('descripcion')?.value?.length || 0 }} / 250 caracteres
            </small>
          </div>
          
          
          <!-- Campo Formativo -->
          <div class="input-group">
            <span class="input-group-text">Campo Formativo</span>
            <select class="form-select"
                formControlName="idCampoFormativo"
                >
              <option value="">Seleccione campo formativo</option>
              <option *ngFor="let c of campos" [value]="c.idCampo">
                {{ c.nombre }}
              </option>
            </select>
          </div>
          <!-- Archivo -->
          <input type="file" #fileInput hidden accept = ".pdf"  class="form-control"
          (change)="onFileSelected($event)">
          <button type="button" class="btn btn-sm btn-outline-primary mt-4"
            (click)="fileInput.click()" 
            title="Subir archivo (Máx. 2MB)">
            <i class="bi bi-upload me-2"></i>
            {{ (modoEdicion || archivoSeleccionado) ? 'Cambiar archivo' : 'Subir archivo'}}
          </button>
          <span class="small text-muted ms-2" style="font-size: 0.8rem;" *ngIf="!modoEdicion">
            {{ archivoSeleccionado?.name || 'Ningún archivo seleccionado' }}
          </span>
          <span class="small text-muted ms-2" style="font-size: 0.8rem;" *ngIf="modoEdicion">
            {{ archivoSeleccionado?.name || actividadSeleccionada.urlInstrucciones.split('/').pop()  }}
          </span>
        </form>
      </div>
      </div>
      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <button type="button"
          class="btn btn-outline-primary align-items-center"
          (click)="cerrarModal()">
          Cancelar
        </button>
        <button type="submit" form="crearForm"
              class="btn btn-success"
              [disabled]="crearForm.invalid">
              Guardar
        </button>
      </div>
  </div>
