<div class="page-container">
<div class="profile-card shadow-sm">

  <!-- cabecera -->
  <div class="profile-header d-flex align-items-center justify-content-between">

    <div class="d-flex align-items-center gap-3">
      
      <!-- avatar -->
      <div class="avatar">
      {{usuario?.nombre ? usuario.nombre[0]:''}}{{usuario?.apellidoPaterno ? usuario.apellidoPaterno[0] :''}}
      </div>

      <!-- Nombre -->
      <div>
        <h5 class="mb-0 fw-bold text-maroon">
          {{usuario?.nombre}} {{usuario?.apellidoPaterno}} {{usuario?.apellidoMaterno}}
        </h5>
        <small class="text-black ">{{rolUsuario}}</small>
      </div>

    </div>

    <!-- Estado -->
    <span class="badge rounded-pill px-3 py-2"
          [ngClass]="usuario.activo ? 'bg-success-subtle text-success' : 'bg-danger-subtle text-danger'">
      ● {{ usuario.activo ? 'HABILITADO' : 'DESHABILITADO' }}
    </span>

  </div>

  <!-- Informacion -->
  <div class="profile-body">

    <div class="row">

      <!-- PERSONAL -->
      <div class="col-md-6">
        <div class="info-card">
          <h6 class="section-title">Información personal</h6>

          <div class="info-item">
            <span>Nombre</span>
            <strong>{{usuario?.nombre}}</strong>
          </div>

          <div class="info-item">
            <span>Apellido</span>
            <strong>{{usuario?.apellidoPaterno}} {{usuario?.apellidoMaterno}}</strong>
          </div>

          <div class="info-item">
            <span>Teléfono</span>
            <strong>{{usuario?.telefono}}</strong>
          </div>

          <div class="info-item">
            <span>Correo</span>
            <strong>{{usuario?.email}}</strong>
          </div>
        </div>
      </div>

      <!-- ADICIONAL -->
      <div class="col-md-6">
        <div class="info-card">
          <h6 class="section-title">Información adicional</h6>

          <div class="info-item">
            <span>Dirección</span>
            <strong>{{usuario?.direccion}}</strong>
          </div>

          <div class="info-item">
            <span>Fecha de Registro:</span>
            <strong>{{usuario.created_At}}</strong>
          </div>

          <div class="info-item">
            <span>Fecha de alta:</span>
            <strong>{{usuario.fechaAlta|| 'No aplica'}}</strong>
          </div>

          <div class="info-item">
            <span>Fecha de baja:</span>
            <strong>{{usuario.fechaBaja || 'No aplica'}}</strong>
          </div>
        </div>
      </div>

    </div>

  </div>

  <!-- ACCIONES -->
  <div class="profile-actions text-end mt-4">
    <button class="btn btn-outline-primary btn-sm me-2" (click)="editar()">
      <i class="bi bi-pencil"></i> Editar
    </button>

    <button class="btn btn-outline-secondary btn-sm" (click)="editarContra()">
      <i class="bi bi-key"></i> Contraseña
    </button>
  </div>

</div>


<div class="container mt-4" *ngIf="modo==='editar'">
      <!-- FORMULARIO PARA CAMBIAR DATOS -->
  <div class="card shadow">
    <div class="card-header bg-maroon text-white text-center">
      Actualizar datos
    </div>
    <div class="card-body">
      <form [formGroup]="usuarioForm" (ngSubmit)="actualizar()" autocomplete="off" class="p-3">
        
        <div class="row">
          <div class="col-md-2"><strong>Nombre: </strong></div>
          <div class="col-md-2">{{usuario.nombre}}</div>

          <div class="col-md-2"><strong>Apellido Paterno: </strong></div>
          <div class="col-md-2">{{usuario.apellidoPaterno}}</div>

          <div class="col-md-2"><strong>Apellido Materno: </strong></div>
          <div class="col-md-2">{{usuario.apellidoMaterno}}</div>
        </div>

        <div class="row">
          
      <!-- Teléfono -->
          <div class="col-md-6 mt-3">
            <div class="input-group">
              <span class="input-group-text" style="font-size:0.9rem;">Teléfono</span>
              <input type="text" class="form-control"
                maxlength="10"
                formControlName="telefono"
                [ngClass]="{'is-invalid': usuarioForm.get('telefono')?.invalid && usuarioForm.get('telefono')?.touched}">
              <div class="invalid-feedback" style="font-size:0.6rem;">
                <div *ngIf="usuarioForm.get('telefono')?.errors?.['required']">
                  Campo obligatorio.
                </div>
                <div *ngIf="usuarioForm.get('telefono')?.errors?.['minlength']|| usuarioForm.get('telefono')?.errors?.['maxlength']">
                  Deben ser exactamente 10 dígitos.
                </div>
                <div *ngIf="usuarioForm.get('telefono')?.errors?.['pattern']">
                  Sólo se permiten números.
                </div>
              </div>
            </div>
          </div>
          <!-- Direccion -->
          <div class="col-md-6 mt-3">
            <div class="input-group">
              <span class="input-group-text" style="font-size:0.9rem;">Dirección</span>
              <input type="text" class="form-control"
                formControlName="direccion"
                [ngClass]="{'is-invalid': usuarioForm.get('direccion')?.invalid && usuarioForm.get('direccion')?.touched}">
              <div class="invalid-feedback" style="font-size:0.6rem;">
                Campo obligatorio.
              </div>
            </div>
          </div>
        </div>

        <div class="d-flex gap-2 mt-3 justify-content-center">
          <button type="submit" class="btn btn-success">
            Actualizar
          </button>

          <button type="button" class="btn btn-secondary" (click)="cancelarEdicion()">
            Cancelar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
<!-- FORMULARIO PARA CAMBIAR CONTRASEÑA--> 

<div class="container mt-4" *ngIf="modo==='password'">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="card shadow">
        <div class="card-header bg-maroon text-white text-center">
          Cambio de contraseña
        </div>

        <div class="card-body">
          <form  [formGroup]="passwordForm" (ngSubmit)="cambioPassword()" autocomplete="off">
            <div class="advertencia text-center">
              <small>
                <strong>Advertencia:</strong> Por motivos de seguridad, al actualizar la contraseña la sesión se cerrará automáticamente.
              </small>
            </div>
            <div class="row mt-3">
              <div class="col-12 col-md-4">
                <div class="input-group">
                  <span class="input-group-text" style="font-size:0.9rem;">Password actual</span>
                  <input [type]="showActual ? 'text' : 'password'" class="form-control"
                    formControlName="actualPassword"
                    [ngClass]="{'is-invalid': passwordForm.get('actualPassword')?.invalid && passwordForm.get('actualPassword')?.touched}">
                  <div class="invalid-feedback" style="font-size:0.6rem;">
                      Campo obligatorio.
                  </div>
                  <button type="button" class="btn btn-outline-secondary"
                          (click)="showActual = !showActual">
                    <i class="bi" [ngClass]="showActual ? 'bi-eye-slash' : 'bi-eye'"></i>
                  </button>
                </div>
              </div>

              <div class="col-12 col-md-4">
                <div class="input-group">
                  <span class="input-group-text" style="font-size:0.9rem;">Nueva password</span>
                  <input [type]="showNueva ? 'text' : 'password'" class="form-control"
                    formControlName="nuevaPassword"
                    [ngClass]="{'is-invalid': passwordForm.get('nuevaPassword')?.invalid && passwordForm.get('nuevaPassword')?.touched}">
                  <div class="invalid-feedback" style="font-size:0.6rem;">
                      Campo obligatorio.
                  </div>
                  <button type="button" class="btn btn-outline-secondary"
                          (click)="showNueva = !showNueva">
                    <i class="bi" [ngClass]="showNueva ? 'bi-eye-slash' : 'bi-eye'"></i>
                  </button>
                </div>
              </div>
              
              <div class="col-12 col-md-4">  
                <div class="input-group">
                  <span class="input-group-text" style="font-size:0.9rem;"> Confirmar Password </span>
                  <input [type]="showConfirmar ? 'text' : 'password'" class="form-control"
                    formControlName="confirmarNuevaPassword"
                    [ngClass]="{'is-invalid': passwordForm.get('confirmarNuevaPassword')?.touched && (passwordForm.get('confirmarNuevaPassword')?.invalid || !equalPassword())}">
                  <button type="button" class="btn btn-outline-secondary" (click)="showConfirmar = !showConfirmar">
                    <i class="bi" [ngClass]="showConfirmar ? 'bi-eye-slash' : 'bi-eye'"></i>
                  </button>
                </div>
                <div class="text-danger small mt-1" style="min-height: 18px;">
                  <div *ngIf="passwordForm.get('confirmarNuevaPassword')?.touched 
                              && passwordForm.get('confirmarNuevaPassword')?.errors?.['required']">
                    Confirmación obligatoria
                  </div>
                  <div *ngIf="passwordForm.get('confirmarNuevaPassword')?.touched 
                              && !equalPassword()">
                    Las contraseñas no coinciden
                  </div>
                </div>
              </div>
            </div>
            <!-- Botón -->
            <div class="d-flex gap-2 mt-3 justify-content-center">
              <button type="submit" class="btn btn-success" style="font-size:0.9rem;">
               Actualizar
              </button>
              <button type="button" class="btn btn-secondary" (click)="cancelar()">
                Cancelar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

