//controlar ancjho de columna
table {
  table-layout: fixed;
  width: 100%;
}
th:nth-child(1) { width: 35%; }
th:nth-child(2) { width: 15%; }
th:nth-child(3) { width: 15%; }
th:nth-child(4) { width: 25%; }
th:nth-child(5) { width: 15%; }
th:nth-child(6) { width: 35%; }
.modal-body {
  min-height: 100px; 
}

.modal-body-step {
  min-height: 350px;
}