<div class="d-flex layout-dashboard">
  <div class="sidebar bg-arena text-maroon p-3" [class.collapsed]="isCollapsed">

      <div class="d-flex align-items-center">
        <button class="btn btn-sm btn-toggle fs-4 ms-2" (click)="toggleSidebar()">
          <i class="bi bi-list" > </i>
        </button>
      </div>


    <ul class="nav nav-pills flex-column gap-2 flex-grow-1">

      <li class="nav-item" [attr.title]="isCollapsed ? 'Administrador' : null">
        <a class="nav-link text-maroon sidebar-link d-flex align-items-center gap-2"
          routerLink="inicioAdmin"
          routerLinkActive="active">
          <i class="bi bi-person-fill-gear fs-4"></i>
          <span class="fw-bold m-0 text-uppercase nombre-usuario" *ngIf="!isCollapsed">
            {{usuario?.nombre}} {{usuario?.apellidoPaterno}}
          </span>
        </a>
      </li>

      <li class="nav-item" 
       [attr.title]="isCollapsed ? 'Cursos' : null"
       routerLinkActive="active"
       [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link text-maroon sidebar-link"
           routerLink="cursos"
           routerLinkActive="active">
           <i class="bi bi-mortarboard-fill fs-4 "></i>
           <span *ngIf="!isCollapsed" class="ms-2">Cursos </span>
        </a>
      </li>

      <li class="nav-item" [attr.title]="isCollapsed ? 'Grupos' : null">
        <a class="nav-link text-maroon sidebar-link"
           routerLink="grupos"
           routerLinkActive="active">
           <i class="bi bi-people-fill fs-4 "></i>
             <span *ngIf="!isCollapsed" class="ms-2">Grupos</span>
        </a>
      </li>
      
       <li class="nav-item" [attr.title]="isCollapsed ? 'Docentes' : null">
        <a class="nav-link text-maroon sidebar-link"
           routerLink="usuarios/docentes"
           routerLinkActive="active">
           <i class="bi bi-person-workspace fs-4 "></i>
            <span *ngIf="!isCollapsed" class="ms-2">Docentes</span>
        </a>
      </li>

      <li class="nav-item" [attr.title]="isCollapsed ? 'Alumnos' : null">
        <a class="nav-link text-maroon sidebar-link"
           routerLink="usuarios/alumnos"
           routerLinkActive="active">
           <i class="bi bi-backpack2-fill fs-4 "></i>
            <span *ngIf="!isCollapsed" class="ms-2">Alumnos</span>
        </a>
      </li>

      <li class="nav-item" [attr.title]="isCollapsed ? 'Inscripciones' : null">
        <a class="nav-link text-maroon sidebar-link"
           routerLink="inscripcion"
           routerLinkActive="active">
           <i class="bi bi-person-vcard fs-4 "></i>
            <span *ngIf="!isCollapsed" class="ms-2">Inscripciones</span>
        </a>
      </li>
        <li class="nav-item" [attr.title]="isCollapsed ? 'Campos Formativos' : null">
        <a class="nav-link text-maroon sidebar-link"
           routerLink="campos"
           routerLinkActive="active">
           <i class="bi bi-book fs-4 "></i>
            <span *ngIf="!isCollapsed" class="ms-2">Campos Formativos</span>
        </a>
      </li>
        <li class="nav-item" [attr.title]="isCollapsed ? 'Actividades Base' : null">
        <a class="nav-link text-maroon sidebar-link"
           routerLink="catalogo-actividades"
           routerLinkActive="active">
           <i class="bi bi-list-task fs-4 "></i>
            <span *ngIf="!isCollapsed" class="ms-2">Actividades Base</span>
        </a>
      </li>

      <li class="nav-item position-relative" 
        (mouseenter)="mouseEntra()" 
        (mouseleave)="mouseSale()">
        
        <!-- Botón Principal -->
        <a class="nav-link text-maroon sidebar-link"
          (click)="!isCollapsed ? toggleExpedicnete() : null">
          <i class="bi bi-folder-fill fs-4"></i>
          <span *ngIf="!isCollapsed" class="ms-2">Expedientes </span>
          <i *ngIf="!isCollapsed" class="bi bi-chevron-down ms-auto transition" [class.rotate]="expedienteAbierto"></i>
        </a>

        <!-- SUBMENÚ: Solo se muestra si:
            1. Está expandido Y el acordeón está abierto
            2. Está colapsado Y tenemos el mouse encima (hover) -->
        <ul class="list-unstyled" 
            [ngClass]="isCollapsed ? 'dropdown-flotante' : 'ms-4'"
            *ngIf="(!isCollapsed && expedienteAbierto) || (isCollapsed && hoverMenu)">
            
            <li class="nav-item">
                <a class="nav-link text-maroon p-2" 
                  routerLink="documentos" 
                  (click)="cerrarSubmenu()">
                    <i class="bi bi-file-earmark-text me-2"></i>
                    <!-- El texto siempre visible si el UL ya pasó el filtro del ngIf de arriba -->
                    <span>Documentación</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-maroon p-2" 
                  routerLink="consulta-revision" 
                  (click)="cerrarSubmenu()">
                    <i class="bi bi-search me-2"></i>
                    <span>Consulta</span>
                </a>
            </li>
        </ul>
      </li>
    
      <li class="nav-item mt-auto" [attr.title]="isCollapsed ? 'Perfil' : null">
        <a class="nav-link text-maroon sidebar-link"
           routerLink="perfil"
           routerLinkActive="active">
           <i class="bi bi-person-fill fs-4"></i>
             <span *ngIf="!isCollapsed" class="ms-2">Perfil</span>
        </a>
    </li>
    </ul>

  </div>

  <!-- CONTENIDO -->
  <div class="contenido-principal" >
    <router-outlet></router-outlet>
  </div>

</div>