<div class="grupo-layout">
  <div class="grupo-tabs">
  <button routerLink="." routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    Inicio
  </button>

  <button [routerLink]="['actividades']" routerLinkActive="active">
    Actividades
  </button>

  <button [routerLink]="['sesiones']" routerLinkActive="active">
    Sesiones
  </button>

  <button [routerLink]="['participantes']" routerLinkActive="active">
    Participantes
  </button>

  <div class="nombre-grupo">
      <h6 class="mb-0">{{ nombreGrupo }}</h6>
    </div>
</div>

<div class="grupo-contenido">
  <router-outlet></router-outlet>
</div>
</div>
