<div class="d-flex" style="height: calc(100vh - 120px);">
  <div class="sidebar bg-arena text-maroon p-3" [class.collapsed]="isCollapsed">

      <div class="d-flex align-items-center">
        <button class="btn btn-sm btn-toggle fs-4 ms-2" (click)="toggleSidebar()">
          <i class="bi bi-list" > </i>
        </button>
      </div>

    <ul class="nav nav-pills flex-column gap-2 flex-grow-1">

      <li class="nav-item" [attr.title]="isCollapsed ? 'Alumno' : null">
        <a class="nav-link text-maroon sidebar-link d-flex align-items-center gap-2"
          routerLink="inicioAlumno"
          routerLinkActive="active">
          <i class="bi bi-backpack2-fill text-maroon fs-4"></i>
          <span class="fw-bold m-0 text-uppercase nombre-usuario" *ngIf="!isCollapsed">
            {{usuario?.nombre}} {{usuario?.apellidoPaterno}}
          </span>
        </a>
      </li>

      <li class="nav-item" [attr.title]="isCollapsed ? 'Mi grupo' : null">
        <a class="nav-link text-maroon sidebar-link"
           routerLink="/alumno-dashboard/panel-grupo-alumno"
           routerLinkActive="active">
           <i class="bi bi-bookmark-check fs-4"></i>
             <span *ngIf="!isCollapsed" class="ms-2">Mi grupo</span>
        </a>
      </li>

      <li class="nav-item" [attr.title]="isCollapsed ? 'Mis grupos' : null">
        <a class="nav-link text-maroon sidebar-link"
          routerLink="inicio-grupos-desh"
          routerLinkActive="active">
           <i class="bi bi-clipboard2-minus fs-4"></i>
             <span *ngIf="!isCollapsed" class="ms-2">Mis grupos</span>
        </a>
      </li>

      <li class="nav-item" [attr.title]="isCollapsed ? 'Actividades' : null">
        <a class="nav-link text-maroon sidebar-link"
           routerLink="expediente-alumno"
           routerLinkActive="active">
           <i class="bi bi-folder2-open fs-4"></i>
             <span *ngIf="!isCollapsed" class="ms-2">Expediente</span>
        </a>
      </li>

      <li class="nav-item mt-auto" [attr.title]="isCollapsed ? 'Perfil' : null">
        <a class="nav-link text-maroon sidebar-link"
           routerLink="perfil"
           routerLinkActive="active">
           <i class="bi bi-person-fill fs-4"></i>
             <span *ngIf="!isCollapsed" class="ms-2">Perfil</span>
        </a>
      </li>

    </ul>

  </div>

  <!-- CONTENIDO -->
  <div class="flex-grow-1 p-4 bg-light overflow-auto">
    <router-outlet></router-outlet>
  </div>

</div>