<div class="card shadow-sm border-0">
  <div class="card-header bg-smoke d-flex justify-content-between align-items-center mb-3">
    <h5 class="m-0 fw-bold text-maroon">Gestión de Actividades</h5>
    </div>
    <div class="card-body">
    <div class="accordion mb-4 ms-4 me-4" >
        <div class="accordion-item" *ngFor = "let campo of alumnoCamposFiltrados; let i = index">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed text-maroon"
                        type="button"
                        data-bs-toggle="collapse"
                        [attr.data-bs-target]="'#panel' + i">
                          {{ campo.nombre == 'Sin campo' ?  'General': campo.nombre   }} 
                </button>
            </h2>
        
            <div [id] = "'panel' + i" class="accordion-collapse collapse">
                <div class = "accordion-body">
                    <div *ngFor = "let act of campo.actividades">
                        <div class="card mb-2 p-2 border-0 shadow-sm" >
                            <div class="d-flex justify-content-between">
                                <div>
                                    <strong>{{ act.titulo }}</strong>
                                    <p class="mb-0 text-muted">{{ act.descripcion }}</p>
                                </div>
                                <div class="me-2 mt-2">
                                    <button class="btn btn-sm btn-outline-primary" (click)="verActividad(act.idActividadAlumno, act.idInscripcion)"> Ver</button>
                                </div>

                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>