<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="card shadow">
        <div class="card-header bg-maroon text-white text-center">
          <h4>Registro</h4>
        </div>

        <div class="card-body">
          <form [formGroup]="registroForm" (ngSubmit)="submit()" autocomplete="off">
          <!------------ DATOS DEL USUARIO ------------------>
          <div>

            <div class="row mb-3">
            <!-- Nombre -->
            <div class="col-md-4">
              <label class="form-label"> Nombre </label>
              <input type="text" class="form-control"
                formControlName="nombre"
                [ngClass]="{
                  'is-invalid': registroForm.get('nombre')?.invalid && registroForm.get('nombre')?.touched
                }">
              <div class="invalid-feedback" style="font-size:0.6rem;">
               Campo obligatorio.
              </div>
            </div>

            <!-- Apellido Paterno -->
            <div class="col-md-4">
              <label class="form-label">Apellido Paterno</label>
              <input type="text" class="form-control"
                formControlName="apellidoPaterno"
                [ngClass]="{'is-invalid': registroForm.get('apellidoPaterno')?.invalid && registroForm.get('apellidoPaterno')?.touched}">
              <div class="invalid-feedback" style="font-size:0.6rem;">
                Campo obligatorio.
              </div>
            </div>

              <!-- Apellido Materno -->
            <div class="col-md-4">
              <label class="form-label">Apellido Materno</label>
              <input type="text" class="form-control"
                formControlName="apellidoMaterno"
                [ngClass]="{'is-invalid': registroForm.get('apellidoMaterno')?.invalid && registroForm.get('apellidoMaterno')?.touched}">
              <div class="invalid-feedback" style="font-size:0.6rem;">
                Campo obligatorio.
              </div>
            </div>
          </div>

          <div class="row mb-3">
            <!-- Email -->
           <div class="col-md-4">
              <label class="form-label">Email</label>
              <input type="email" class="form-control" formControlName="email" placeholder="usuario@example.com" 
                [ngClass]="{'is-invalid': registroForm.get('email')?.invalid && registroForm.get('email')?.touched}">
              <div class="invalid-feedback" style="font-size:0.6rem;">
                    <div *ngIf="registroForm.get('email')?.errors?.['required']">
                        Campo obligatorio.
                    </div>
                    <div *ngIf="registroForm.get('email')?.errors?.['email'] || registroForm.get('email')?.errors?.['pattern']">
                        Por favor, ingrese un formato de correo válido
                    </div>
              </div>
            </div>

            <!-- Teléfono -->
            <div class="col-md-4">
              <label class="form-label">Teléfono</label>
              <input type="text" class="form-control"
                maxlength="10"
                formControlName="telefono"
                [ngClass]="{'is-invalid': registroForm.get('telefono')?.invalid && registroForm.get('telefono')?.touched}">

              <div class="invalid-feedback" style="font-size:0.6rem;">
                <div *ngIf="registroForm.get('telefono')?.errors?.['required']">
                        Campo obligatorio.
                </div>
                <div *ngIf="registroForm.get('telefono')?.errors?.['minlength']|| registroForm.get('telefono')?.errors?.['maxlength']">
                        Deben ser exactamente 10 dígitos.
                </div>
                <div *ngIf="registroForm.get('telefono')?.errors?.['pattern']">
                        Sólo se permiten números.
                </div>
              </div>
            </div>

            <!-- Direccion -->
            <div class="col-md-4">
              <label class="form-label">Dirección</label>
              <input type="text" class="form-control"
                formControlName="direccion"
                [ngClass]="{'is-invalid': registroForm.get('direccion')?.invalid && registroForm.get('direccion')?.touched}">

              <div class="invalid-feedback" style="font-size:0.6rem;">
                Campo obligatorio.
              </div>
            </div>
          </div>

          </div>
          

          <!--------------------------- Tipo de registro -------------------->
          <div class="row align-items-center mb-3">

            <!-- Título -->
            <div class="col-md-4">
              <label class="form-label mb-0 fw-bold">
                Tipo de Registro
              </label>
            </div>

            <!-- Botones -->
            <div class="col-md-8">
              <div class="btn-group w-100" role="group">
                <button
                  type="button"
                  class="btn"
                  [class.bg-maroon]="registroForm.get('tipo')?.value === 'ALUMNO'"
                  [class.btn-outline-primary]="registroForm.get('tipo')?.value !== 'ALUMNO'"
                  (click)="registroForm.get('tipo')?.setValue('ALUMNO')">
                  Alumno
                </button>

                <button
                  type="button"
                  class="btn"
                  [class.bg-maroon]="registroForm.get('tipo')?.value === 'DOCENTE'"
                  [class.btn-outline-primary]="registroForm.get('tipo')?.value !== 'DOCENTE'"
                  (click)="registroForm.get('tipo')?.setValue('DOCENTE')">
                  Docente
                </button>
              </div>
            </div>

          </div>

          <!-- Mensaje de error -->
          <div class="text-danger small"
              *ngIf="registroForm.get('tipo')?.invalid && registroForm.get('tipo')?.touched">
            Seleccione un tipo
          </div>


          <!-- CAMPOS DE ALUMNO -->
          <div *ngIf="registroForm.get('tipo')?.value === 'ALUMNO'">

            <hr>
            <h5 class="text-maroon">Datos de Alumno</h5>

            <!-- Universidad -->
            <div class="row mb-3">
            <div class="col-md-4">
              <label class="form-label">Universidad</label>
              <input type="text" class="form-control"
                formControlName="universidad"
                [ngClass]="{'is-invalid': registroForm.get('universidad')?.invalid && registroForm.get('universidad')?.touched}">
              <div class="invalid-feedback" style="font-size:0.6rem;">
                Campo obligatorio.
              </div>
            </div>

            <!-- Carrera -->
            <div class="col-md-4">
              <label class="form-label">Carrera</label>
              <input type="text" class="form-control"
                formControlName="carrera"
                [ngClass]="{'is-invalid': registroForm.get('carrera')?.invalid && registroForm.get('carrera')?.touched}">
              <div class="invalid-feedback" style="font-size:0.6rem;">
                Campo obligatorio.
              </div>
            </div>

            <!-- fecha de termino-->
            <div class="col-md-4">
              <label class="form-label">Fecha de Termino</label>
              <input type="date" class="form-control" formControlName="fechaTermino">
            </div>
            </div>

          </div>

          <div class="row mb-3">
            <!--Contraseña y confirma contraseña-->
             <!-- Password -->
              <div class="col-md-6">
                <label class="form-label">Contraseña</label>
                <input type="password" formControlName="password" class="form-control"
                      [ngClass]="{'is-invalid': registroForm.get('password')?.invalid && registroForm.get('password')?.touched}">
                  <div class="invalid-feedback" *ngIf="registroForm.get('password')?.errors?.['pattern']"> Debe tener al menos 8 caracteres, una mayúscula y un número. </div>

              </div>
              <div class="col-md-6">
                <!-- Confirm Password -->
                <label class="form-label">Confirma contraseña</label>
                <input type="password" formControlName="confirmPassword" class="form-control"
                      [ngClass]="{ 'is-invalid': registroForm.errors?.['passwordMismatch'] && registroForm.get('confirmPassword')?.touched}">
                <div class="invalid-feedback"
                    *ngIf="registroForm.errors?.['passwordMismatch'] && registroForm.get('confirmPassword')?.touched">
                      Las contraseñas no coinciden
                </div>
              </div>
          </div>

    
        <div class="text-center">
          <button class="btn btn-sm bg-maroon px-4" type="submit" [disabled]="registroForm.invalid">
            Crear Usuario
          </button>
        </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
