.modal-body {
  min-height: 100px; 
}

.modal-body-step {
  min-height: 350px;
}

.grid-checkbox {
  display: grid;
  /* Crea 10 columnas del mismo tamaño */
  grid-template-columns: repeat(2, 1fr); 
  gap: 10px; /* Espacio entre elementos */
  align-items: center;
}

.checkbox-item {
  font-size: 0.8rem; /* Opcional: ajusta el tamaño para que quepan bien los 10 */
  white-space: nowrap; /* Evita que el texto se parta en dos líneas */
}
.sesion-container {
  width: 100%;
  padding: 16px 24px;
  max-width: 1400px;  
  margin: 0 auto;
}
:host {
  display: block;
  height: 100%;
}

.page-container {
  height: 100%;
  overflow-y: auto;
  padding: 16px 24px;
}