
<div class="page-container">
<div class="card shadow-sm border-0">
  <div class="card-header bg-smoke py-3">
    <h5 class="mb-0 fw-bold text-maroon text-center">
      <i class="bi bi-calendar-plus me-2"></i>Registrar Sesión
    </h5>
  </div>

  <div class="card-body">
    <form [formGroup]="sesionForm" (ngSubmit)="guardar()">
      <div class="row g-3">
        <div class="col-md-6">
          <div class="input-group">
            <span class="input-group-text" style="font-size:0.9rem;">Grupo</span>
            <select class="form-select" formControlName="idGrupo" [ngClass]="{'is-invalid': sesionForm.get('idGrupo')?.invalid && sesionForm.get('idGrupo')?.touched}">
              <option *ngFor="let g of grupos" [value]="g.idGrupo">{{ g.nombre }}</option>
            </select>          
            <div class="invalid-feedback" style="font-size:0.6rem;">
              Campo obligatorio.
            </div>
          </div>
        </div>
        
        <div class="col-md-6">
          <div class="input-group">
            <div class="btn-group flex-grow-1"  role="group">
              <input type="radio" class="btn-check" id="alcanceGrupal" value="GRUPAL" formControlName="alcance" (change)="onChangeAlcance()">
              <label class="btn btn-outline-primary" for="alcanceGrupal">Grupal</label>
                <input type="radio" class="btn-check" id="alcanceIndividual" value="INDIVIDUAL" formControlName="alcance" (change)="onChangeAlcance()">
                  <label class="btn btn-outline-primary" for="alcanceIndividual">Individual</label>
            </div>
            <div *ngIf="sesionForm.get('alcance')?.invalid && sesionForm.get('alcance')?.touched" class="d-block invalid-feedback" style="font-size:0.6rem;">
              Campo obligatorio.
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="input-group">
            <span class="input-group-text" style="font-size:0.9rem;">Fecha</span>
            <input type="datetime-local" class="form-control" formControlName="fecha" [min]="minFecha" [ngClass]="{'is-invalid': sesionForm.get('fecha')?.invalid && sesionForm.get('fecha')?.touched}">
            <div class="invalid-feedback" style="font-size:0.6rem;">
              Campo obligatorio.
            </div>
          </div>
        </div>
        
        <div class="col-md-6">
          <div class="input-group">
            <span class="input-group-text" style="font-size:0.9rem;">Tema</span>
            <input type="text" class="form-control" formControlName="tema" [ngClass]="{'is-invalid': sesionForm.get('tema')?.invalid && sesionForm.get('tema')?.touched}">
            <div class="invalid-feedback" style="font-size:0.6rem;">
              Campo obligatorio.
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="input-group">
            <span class="input-group-text" style="font-size:0.9rem;">Plataforma</span>
            <input type="text" class="form-control" placeholder="Zoom, Meet..." formControlName="plataforma" [ngClass]="{'is-invalid': sesionForm.get('plataforma')?.invalid && sesionForm.get('plataforma')?.touched}">
            <div class="invalid-feedback" style="font-size:0.6rem;">
              Campo obligatorio.
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="input-group">
            <span class="input-group-text" style="font-size:0.9rem;">URL</span>
            <input type="text" class="form-control" formControlName="urlSesion" [ngClass]="{'is-invalid': sesionForm.get('urlSesion')?.invalid && sesionForm.get('urlSesion')?.touched}">
            <div class="invalid-feedback" style="font-size:0.6rem;">
              <span *ngIf="sesionForm.get('urlSesion')?.errors?.['required']">
                Campo obligatorio
              </span>
              <span *ngIf="sesionForm.get('urlSesion')?.errors?.['pattern']">
                Formato de URL inválido (ej: meet.google.com).
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-2" *ngIf="esIndividual">
        <hr class="mt-0 mb-3">
        <h6 class="fw-bold text-maroon mb-3">Alumnos Participantes</h6>

        <div class="border rounded p-3 bg-white" style="max-height: 250px; overflow-y: auto;">
          <div *ngIf="alumnos.length === 0" class="text-muted small p-2">
            No hay alumnos inscritos al grupo.
          </div>
          <div *ngFor="let alumno of alumnos" class="form-check mb-2">
            <input class="form-check-input" type="checkbox"
                  [id]="'alum-' + alumno.idInscripcion"
                  [value]="alumno.idInscripcion"
                  [checked]="idsSeleccionados.includes(alumno.idInscripcion)"
                  (change)="onAlumnoSeleccionado($event)">
            <label class="form-check-label" [for]="'alum-' + alumno.idInscripcion">
              {{ alumno.nombre }} {{ alumno.apellidoPaterno }}
            </label>
          </div>
        </div>
      </div>
    
      <div class="d-flex gap-2 mt-3 justify-content-center">
        <button type="submit" [disabled]="sesionForm.invalid" class="btn btn-success px-4">
          Guardar
        </button>
        <button type="button" class="btn btn-secondary px-4" (click)="resetForm()">
          Cancelar
        </button>
      </div>
    </form>
  </div>
</div>
</div>