<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="card shadow">
        <div class="card-header bg-maroon text-white text-center">
          <h4>Cambio de contraseña </h4>
        </div>

        <div class="card-body">
          <form  (ngSubmit)="cambioPassword()" autocomplete="off">
            
            <div class="mb-3">
              <label class="form-label" style="font-size:0.9rem;"> Password actual</label>
              <input type="password" class="form-control" 
                [(ngModel)]="passwordData.actualPassword" name="actualPassword" required #ap="ngModel"
                [ngClass]="{ 'is-invalid': ap.invalid && ap.touched}">
                <div class="invalid-feedback" style="font-size:0.6rem;">
                    Campo obligatorio.
                </div>
            </div>
            
            <div class="mb-3">
              <label class="form-label" style="font-size:0.9rem;"> Nueva Password </label>
              <input type="password" class="form-control" 
                [(ngModel)]="passwordData.nuevaPassword" name="nuevaPassword" required #np="ngModel"
                [ngClass]="{ 'is-invalid': np.invalid && np.touched}">
                <div class="invalid-feedback" style="font-size:0.6rem;">
                    Campo obligatorio.
                </div>
            </div>
                  
            <div class="mb-3">
              <label class="form-label" style="font-size:0.9rem;"> Confirmar Password </label>
              <input type="password" class="form-control" 
                [(ngModel)]="confirmPassword" name="confirmarNuevaPassword" required #cnp="ngModel"
                [ngClass]="{ 'is-invalid': (cnp.invalid && cnp.touched) || !equalPassword() }">
                <div class="invalid-feedback" style="font-size:0.6rem;">
                    <div  *ngIf="cnp.errors?.['required']">Confirmación de contraseña obligatoria</div>
                    <div  *ngIf="!equalPassword()">Las contraseñas no coinciden</div>
                </div>
            </div>
            <!-- Botón -->
             <div class="text-center">
            <button type="submit" class="btn btn-sm bg-maroon px-4" style="font-size:0.9rem;" type="submit">
                <i class="bi bi-box-arrow-in-right fs-5 me-3"></i> Ingresar
            </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

