<div class="card shadow-sm border-0">
  <!-- cabecera -->
  <div class="card-header bg-smoke d-flex justify-content-between align-items-center mb-3">
    <h5 class="m-0 fw-bold text-maroon">Gestión de Sesiones</h5>
    <button class="btn btn-outline-primary" (click)="nuevaSesion(); abrirModal(sesionModal)">
      <i class="bi bi-plus-circle me-1"></i> Nueva Sesion
    </button>
  </div>

 <div class="card-body">
 <!--Fitlro dinamico-->
  <form [formGroup]="filtroFormulario" (ngSubmit)="buscar()">
    <div class="row g-3 mb-4 ">
      
      <!-- filtro por fecha -->
      <div class="col-md-4 me-5">
        <select class="form-select" formControlName="momentoSesion">
          <option [ngValue]="null">Cualquier momento</option>
          <option [ngValue]="'POR_INICIAR'">Próximas sesiones</option>
          <option [ngValue]="'FINALIZADAS'">Sesiones pasadas</option>
        </select>
      </div>

      <!-- filtro por alcance -->
      <div class="col-md-2 me-5 ms-5">
        <select class="form-select" formControlName="alcance">
          <option [ngValue]="null">Todos los alcances</option>
          <option [ngValue]="'GRUPAL'">Grupal</option>
          <option [ngValue]="'INDIVIDUAL'">Individual</option>
        </select>
      </div>

      <!-- Botón -->
      <div class="col-md-2 ms-5">
        <button type="submit" class="btn btn-outline-primary w-100">
          Buscar
        </button>
      </div>
        <div class="col-md-2">
        <button type="button"
          class="btn btn-outline-primary w-100"
          (click)="limpiarFiltros()">
          Limpiar
        </button>
      </div>
    </div>
  </form>

  <!-- TABLA -->
    <div class="table-responsive">
      <table class="table table-hover table-striped w-100">

        <thead class="table-light text-center text-maroon">
          <tr>
            <th>Fecha</th>
            <th>Tema</th>
            <th>Plataforma</th>
            <th>Alcance</th>
            <th class="text-center">Acciones</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let s of sesionDocente; let i = index">
            <td class = "text-center">{{ s.fecha }}</td>
            <td class = "text-center">{{ s.tema }}</td>
            <td class = "text-center">{{ s.plataforma }}</td>
            <td class = "text-center">{{ s.alcance }}</td>
            <td class="text-center">
              <button class="btn btn-sm btn-outline-primary me-2" 
                      (click)="cargarSesion(s.idSesion, 'ver', sesionModal)" title="Ver">
                <i class="bi bi-eye"></i>
              </button>

              <button class="btn btn-sm btn-outline-primary me-2"
                      (click)="cargarSesion(s.idSesion, 'editarSesion', sesionModal)" title="Editar Datos">
                <i class="bi bi-pencil"></i>
              </button>

              <button class="btn btn-sm btn-outline-primary me-2" *ngIf="s.alcance==alcanceEnum.INDIVIDUAL"
                      (click)="cargarSesion(s.idSesion, 'editarAlumnos', sesionModal)" title="Alumnos">
                <i class="bi bi-people"></i>
              </button>

              <button class="btn btn-sm btn-outline-primary me-2" 
                      (click)="cargarSesion(s.idSesion, 'consultaAsistencia', sesionModal)" title="Consulta asisencia">
                <i class="bi bi-eye"></i>
              </button>

              <button class="btn btn-sm btn-outline-primary me-2" 
                      (click)="prepararAsistencia(s.idSesion, sesionModal)" title="Tomar asisencia">
                <i class="bi bi-check2-square"></i>
              </button>
            </td>
          </tr>

          <tr *ngIf="sesionDocente.length === 0">
            <td colspan="6" class="text-center text-muted py-4">
              No existen clases programadas próximamente.
            </td>
          </tr>

        </tbody>
      </table>

      <!-- Componente del paginador -->
    <nav *ngIf="totalPages > 0" class="mt-4">
      <ul class="pagination justify-content-center">

        <li class="page-item" [class.disabled]="page === 0">
          <button class="page-link"
                  (click)="cambiarPagina(page - 1)"
                  [disabled]="page === 0">
            «
          </button>
        </li>

        <li class="page-item"
            *ngFor="let p of paginas"
            [class.active]="p === page">
          <button class="page-link"
                  (click)="cambiarPagina(p)">
            {{ p + 1 }}
          </button>
        </li>

        <li class="page-item"
            [class.disabled]="page + 1 >= totalPages">
          <button class="page-link"
                  (click)="cambiarPagina(page + 1)"
                  [disabled]="page + 1 >= totalPages">
            »
          </button>
        </li>

      </ul>
    </nav>
  </div>
</div>
<!--      MODAL FORMULARIO   -->
<ng-template #sesionModal let-modal>
  <form [formGroup]="sesionForm" (ngSubmit)="guardar(modal)">
    <div class="modal-header bg-smoke flex-column align-items-center">
      <h5 class="modal-title fw-bold text-maroon">
        {{ modo === 'crear' ? 'Registro Sesión' : 
           modo === 'editarSesion' ? 'Actualizar Detalles' :
           modo === 'consultaAsistencia' ? 'Asistencia Detalles' :
           modo === 'tomarAsistencia' ? 'Registro Asistencia' : 
           modo === 'editarAlumnos' ? 'Gestionar Alumnos' : 'Detalle Sesión' }}
      </h5>
      <button type="button" class="btn-close position-absolute end-0 top-0 m-3" (click)="cerrarModal(modal)"></button>
    </div>

    <div class="modal-body">
      <div *ngIf="!['editarAlumnos', 'consultaAsistencia', 'tomarAsistencia'].includes(modo)">
        <div class="row g-3">
          <ng-container *ngIf="modo === 'ver'; else camposEdicion">
            <div class="col-md-6">
              <span><strong>Grupo: </strong> {{ sesionDetalle.grupo.nombre}}</span>
            </div>
            <div class="col-md-6">
              <span><strong>Fecha: </strong> {{ sesionDetalle.fecha }}</span>
            </div>
            <div class="col-md-12">
              <span><strong>Tema: </strong> {{ sesionDetalle.tema }}</span>
            </div>
            <div class="col-md-12">
              <span><strong>URL: </strong> <a [href]="sesionDetalle.url" target="_blank"> {{ sesionDetalle.url }}</a></span>
            </div>
          </ng-container>

          <ng-template #camposEdicion>
            <div class="input-group col-md-12">
              <span class="input-group-text" style="font-size:0.9rem;">Fecha</span>
              <input type="datetime-local" class="form-control" formControlName="fecha" [min]="minFecha" [ngClass]="{'is-invalid': sesionForm.get('fecha')?.invalid && sesionForm.get('fecha')?.touched}">
                <div class="invalid-feedback" style="font-size:0.6rem;">
                  Campo obligatorio.
                </div>
            </div>
            <div class="input-group col-md-12">
              <span class="input-group-text" style="font-size:0.9rem;">Tema</span>
              <input type="text" class="form-control" formControlName="tema" [ngClass]="{'is-invalid': sesionForm.get('tema')?.invalid && sesionForm.get('tema')?.touched}">
                <div class="invalid-feedback" style="font-size:0.6rem;">
                  Campo obligatorio.
                </div>
            </div>
            <div class="input-group col-md-6">
              <span class="input-group-text" style="font-size:0.9rem;">Plataforma</span>
              <input type="text" class="form-control" placeholder="Zoom, Meet..." formControlName="plataforma" [ngClass]="{'is-invalid': sesionForm.get('plataforma')?.invalid && sesionForm.get('plataforma')?.touched}">
                <div class="invalid-feedback" style="font-size:0.6rem;">
                  Campo obligatorio.
                </div>
            </div>
            <div class="input-group col-md-12">
              <div class="btn-group flex-grow-1"  role="group">
                <input type="radio" class="btn-check" id="alcanceGrupal" value="GRUPAL" 
                      formControlName="alcance" (change)="onChangeAlcance()">
                <label class="btn btn-outline-primary" for="alcanceGrupal">Grupal</label>

                <input type="radio" class="btn-check" id="alcanceIndividual" value="INDIVIDUAL" 
                      formControlName="alcance" (change)="onChangeAlcance()">
                <label class="btn btn-outline-primary" for="alcanceIndividual">Individual</label>
              </div>
              <div *ngIf="sesionForm.get('alcance')?.invalid && sesionForm.get('alcance')?.touched" 
                  class="d-block invalid-feedback" style="font-size:0.6rem;">
                Campo obligatorio.
              </div>
            </div>
            <div class="input-group col-md-12">
              <span class="input-group-text" style="font-size:0.9rem;">URL</span>
              <input type="text" class="form-control" formControlName="urlSesion" [ngClass]="{'is-invalid': sesionForm.get('urlSesion')?.invalid && sesionForm.get('urlSesion')?.touched}">
                <div class="invalid-feedback" style="font-size:0.6rem;">
                  <span *ngIf="sesionForm.get('urlSesion')?.errors?.['required']">
                    Campo obligatorio
                  </span>
                  <span *ngIf="sesionForm.get('urlSesion')?.errors?.['pattern']">
                    Formato de URL inválido (ej: meet.google.com).
                  </span>
                </div>
            </div>
          </ng-template>
        </div>
      </div>

      <div *ngIf="modo === 'consultaAsistencia'" style="max-height: 200px; overflow-y: auto;">
        <table class="table table-sm table-hover mb-0">
          <tbody class="small">
            <tr *ngFor="let alumno of alumnosDetalle">
              <td class="border-bottom p-2">
                <i class="bi bi-person-check-fill text-success me-2"></i>
                  {{ alumno.nombreAlumno }} {{ alumno.apellidoPaterno }}
              </td>
              <td class="border-bottom p-2 text-end text-uppercase fw-semibold">
                {{ alumno.estadoAsistencia }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div *ngIf="modo === 'tomarAsistencia'" [formGroup]="asistenciaForm" style="max-height: 300px; overflow-y: auto;">
        <table class="table table-sm table-hover mb-0">
          <tbody class="small" formArrayName="asistencias">
            <tr *ngFor="let alumno of alumnosDetalle; let i = index" [formGroupName]="i">
              <td class="border-bottom p-2 align-middle">
                <i class="bi bi-person-fill text-primary me-2"></i>
                {{ alumno.nombreAlumno }} {{ alumno.apellidoPaterno }}
              </td>
              <td class="border-bottom p-2 text-end">
               <select formControlName="estado" 
                        class="form-select form-select-sm d-inline-block w-auto"
                        [ngClass]="{'is-invalid': asistenciaForm.get('asistencias')?.get(i + '.estado')?.invalid && 
                                                  asistenciaForm.get('asistencias')?.get(i + '.estado')?.touched}">
                  <option [ngValue]="null">Selecciona</option>
                  <option *ngFor="let e of estadoAsistencia" [ngValue]="e.value">
                    {{ e.label }}
                  </option>
                </select>
                <div class="invalid-feedback" style="font-size:0.6rem;">
                  Campo Obligatorio
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="mt-2" *ngIf="esIndividual || modo === 'ver' || modo === 'editarAlumnos'">
        <hr *ngIf="modo === 'ver'" class="mt-0 mb-3">
        <h6 class="fw-bold text-maroon mb-3" *ngIf="!['consultaAsistencia', 'editarSesion', 'tomarAsistencia'].includes(modo)">Alumnos Participantes</h6>
        
        <div *ngIf="modo === 'ver'" class="grid-checkbox border p-2 bg-light rounded" style="max-height: 200px; overflow-y: auto;">
          <div *ngFor="let alumno of alumnosDetalle" class="small p-2 border-bottom">
            <i class="bi bi-person-check-fill text-success me-2"></i>
            {{ alumno.nombreAlumno }} {{ alumno.apellidoPaterno }}
          </div>
        </div>

        <div *ngIf="!['ver','consultaAsistencia', 'editarSesion', 'tomarAsistencia'].includes(modo)" class="border rounded p-3 bg-white" style="max-height: 250px; overflow-y: auto;">
          <div *ngIf="alumnos.length === 0" class="text-muted small p-2">
            No hay alumnos inscritos al grupo.
          </div>
          <div *ngFor="let alumno of alumnos" class="form-check mb-2">
            <input class="form-check-input" type="checkbox"
                  [id]="'alum-' + alumno.idInscripcion"
                  [value]="alumno.idInscripcion"
                  [checked]="idsSeleccionados.includes(alumno.idInscripcion)"
                  (change)="onAlumnoSeleccionado($event)">
            <label class="form-check-label" [for]="'alum-' + alumno.idInscripcion">
              {{ alumno.nombre }} {{ alumno.apellidoPaterno }}
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="modal-footer justify-content-center">
      <button *ngIf="modo === 'tomarAsistencia'" type="button" 
              (click)="asistencia(sesionDetalle.idSesion, 'tomarAsistencia', modal)" 
              class="btn btn-success px-4" [disabled]="formularioAsistenciaInvalido">
        Registrar Asistencia
      </button>

      <button *ngIf="['crear', 'editarSesion', 'editarAlumnos'].includes(modo)" 
              type="submit" [disabled]="sesionForm.invalid" class="btn btn-success px-4">
        {{ modo === 'crear' ? 'Guardar Sesión' : 'Actualizar' }}
      </button>

      <button type="button" class="btn btn-secondary px-4" (click)="modal.close()">
        {{ modo === 'ver' || modo === 'consultaAsistencia' ? 'Cerrar' : 'Cancelar' }}
      </button>
    </div>
  </form>
</ng-template>
